.app-wrap {
    height: 100%;
    width: 100%;
 }
 
 
 .app-body {
    width: 100%;
    /* Additional styling */
 }
 
 .home-auth-button-container{
    align-items: center;
    justify-content: center;
 }
 
 .home-auth-button-container button{
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
 }