<div class="home">
    <div class="section-home">
        <div class="header-banner">
            <h2>Please select from one of the following</h2>
        </div>
        <div class="container-large">
            <div class="card-wrapper">
                <a routerLink="/select-category">
                    <div class="kendo-card">
                        <img src="../../assets/role.svg" alt="revenue" />
                        <h3>Books by Category</h3>
                        <p>
                            Explore Categories like Tech, Literature etc.
                        </p>
                    </div>
                </a>
                <a routerLink="/search-book">
                    <div class="kendo-card">
                        <img src="../../assets/orgs.svg" alt="orgs" />
                        <h3>Search Books</h3>
                        <p>
                            Search books by Name, Topic, or Category.
                        </p>
                    </div>
                </a>
                <a routerLink="/cart">
                    <div class="kendo-card">
                        <img src="../../assets/revenue.svg" alt="revenue" />
                        <h3>Cart</h3>
                        <p>View Books in your cart for purchase</p>
                    </div>
                </a>
                
            </div>
        </div>

    </div>
</div>