<div>
  <section class="book-store-container">
    <div class="book-details-wrapper" *ngIf="bookDetail">
      <div class="image-wrapper">
        <img src="https://images.pexels.com/photos/256450/pexels-photo-256450.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="" />
      </div>
      <div class="information-book-details">
       <div class="book-details-view">
         <kendo-label *ngIf="isAdmin" [text]="isAdminView ? 'Admin View' : 'User View'">:
           <kendo-switch [(ngModel)]="isAdminView"></kendo-switch>
         </kendo-label>
       </div>
        <div class="book-view-cart" *ngIf="!isAdminView">
         <div class="desc-wrapper">
           <h3>{{bookDetail.Name}}</h3>
   
           <p>
             {{bookDetail.Description}}
           </p>
           <div class="details-author">
             <div class="author-name">
               <div class="content">
                 <h5>Category</h5>
                 <h6>{{bookDetail.BookCategory}}</h6>
               </div>
             </div>
             <div class="box-data">
               <h5>Topics</h5>
               <div>{{getBookTopics()}}</div>
             </div>
             <div class="box-data">
              <h5>Pages</h5>
              <div>{{bookDetail.Pages}}</div>
            </div>
           </div>
         </div>
          <div class="pricing-section">
            <div class="price">
              <h2>${{amount.toFixed(2)}}</h2>
            </div>
            <div class="cart-details">
              <div class="btn-grp">
                <button (click)="decrease()">-</button>
                <h5>{{quantity}}</h5>
                <button (click)="increase()">+</button>
              </div>
              <div class="btn-content">
                <button class="btn-cart" (click)="addToCart()">
                  <span class="k-icon k-font-icon k-i-cart k-i-shopping-cart"></span>
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="book-form-store" *ngIf="isAdminView" [formGroup]="bookForm">
          <div class="desc-wrapper">
          <kendo-textbox type="text" id="Name" name="Name" formControlName="Name"></kendo-textbox>
          <kendo-textarea type="text" id="Description" name="Description" formControlName="Description"></kendo-textarea>
          <div class="details-author">
            <div class="author-name">
              <div class="content">
                <h5>Category</h5>
                <h6>
                  <kendo-dropdownlist 
                    [data]="categories" 
                    textField="Name" 
                    valueField="ID" 
                    [valuePrimitive]="true"
                    formControlName="BookCategoryID">
                  </kendo-dropdownlist>
                </h6>
              </div>
            </div>
            <div class="box-data">
              <h5>Topics</h5>
              <h6>
                <kendo-multiselect valueField="ID" textField="Name" [data]="topics"
                  formControlName="Topics"></kendo-multiselect>
              </h6>
            </div>
            <div class="box-data">
              <h5>Pages</h5>
              <h6>
                <kendo-textbox valueField="Pages" textField="Pages" formControlName="Pages"></kendo-textbox>
              </h6>
            </div>
          </div>
          </div>
          <div class="pricing-section">
            <div class="price">
              <h2><kendo-numerictextbox type="number" id="Amount" format="c" [decimals]="2" name="Amount" formControlName="Amount"></kendo-numerictextbox></h2>
            </div>
            <div class="cart-details">
              <div class="btn-content">
                <kendo-button name="save" [primary]="true" [disabled]="!bookForm.valid" (click)="saveBookDetails()">
                  <span class="k-icon k-i-check"></span>
                  Save</kendo-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>