<div *ngIf="!loaded">
  <div class="gg-loader">
    <kendo-loader type="converging-spinner" themeColor="primary" size="large"></kendo-loader>
  </div>
</div>
<div *ngIf="loaded && topic" class="role-wrap">
  <div class="breadcrumbWrapper">
    <div class="container-large">
      <div class="breadcrumb">
        <a routerLink="/">
          <kendo-icon name="home"></kendo-icon>
        </a> <kendo-icon name="arrow-chevron-right"></kendo-icon> <a routerLink="/select-role">Books By Topic</a> 
        <kendo-icon name="arrow-chevron-right"></kendo-icon><span class="active">{{topic.Name}}</span>
      </div>
      <div class="back-sec">
        <a routerLink="/select-role"><kendo-icon name="arrow-chevron-left"></kendo-icon>
        Back</a>
      </div>
    </div>
  </div>
  <section class="tab-main-wrap">
    <div class="container-large">
      <div class="editorial-main-wrapper">
          <div class="role-title-wrap">
              <h3> {{topic.Name}}</h3>
          </div>
          <div class="category-main-wrapper">
            <div class="category-card" *ngFor="let book of booksByTopic" (click)="goToDetails(book)">
              <div class="img-wrap">
                <img src="../../assets/book1.png" alt="">
              </div>
              <div class="details">
                <h5>{{book.Name}}</h5>
                <h6>{{book.Author}}</h6>
                <p>${{book.Price}}</p>
                <button class="btn-cart" (click)="addToCart(book)">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>