<div *ngIf="!loaded">
    <!-- <kendo-loader type="infinite-spinner" themeColor="primary" size="large"></kendo-loader> -->
    <div class="gg-loader">
        <img src="../../assets/loader.gif" />
    </div>
</div>
<div *ngIf="loaded && topic" class="role-wrap">
    <section class="tab-main-wrap">
        <div class="container-large">
            <div class="editorial-main-wrapper">
                <div class="role-title">
                    <h3>Books by Topic: {{topic.Name}}</h3>
                </div>
                <div class="layout-wrapper filter-close">
                    <div class="grid-wrap">

                        <kendo-grid
                            [kendoGridBinding]='booksByTopic'
                            [pageSize]="10"
                            [pageable]="true"
                            [sortable]="true"
                            (edit)="editHandler($event)"
                            (cancel)="cancelHandler($event)"
                            (save)="saveHandler($event)"
                            (remove)="removeHandler($event)"
                            (add)="addHandler($event)"
                            (cellClick)="onGridRowClick($event)"
                            [navigable]="true"
                            >
                            <ng-template kendoGridToolbarTemplate>
                                <button kendoGridAddCommand>Add new</button>
                            </ng-template>
                            <kendo-grid-column field="Name" title="Name" format="c0"></kendo-grid-column>
                            <kendo-grid-column field="Pages" title="Pages" editor="numeric"></kendo-grid-column>
                            <kendo-grid-column field="Description" title="Description"></kendo-grid-column>
                            <kendo-grid-command-column title="Action" [width]="220">
                                <ng-template kendoGridCellTemplate let-isNew="isNew">
                                <button kendoGridEditCommand [primary]="true">Edit</button>
                                <button kendoGridRemoveCommand>Remove</button>
                                <button kendoGridSaveCommand>
                                    {{ isNew ? "Add" : "Edit" }}
                                </button>
                                <button kendoGridCancelCommand>
                                    {{ isNew ? "Discard changes" : "Cancel" }}
                                </button>
                                </ng-template>
                            </kendo-grid-command-column>
                            </kendo-grid>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>